{
    "semi": false,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "wrapAttributes": "auto",
    "indentInnerHtml": true,
    "extraLiners": "",
    "plugins": [
        "@shufo/prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade",
                "tabWidth": 2
            }
        }
    ]
}
